<div class="actionable-item">
  <ng-content></ng-content>
</div>

<b-icon *ngIf="icon"
        [config]="tooltipIconConfig"
        [matTooltip]="iconTooltip">
</b-icon>

<b-menu *ngIf="menuItems?.length > 1"
        [menu]="menuItems"
        [openLeft]="openLeft"
        (click)="$event.stopPropagation()">
  <b-square-button menu-trigger
                   [button]="menuTriggerButton">
  </b-square-button>
</b-menu>

<b-button *ngIf="menuItems?.length === 1"
          [size]="buttonSize.small"
          [text]="menuItems[0].label"
          [type]="buttonType"
          (clicked)="menuItems[0].action($event)">
</b-button>
